<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{recipe-author}}</p>
  <p>
    <button class="btn btn-primary">Look at this Recipe!</button>
  </p>
</div>
